.show-cart-button-container{
    position:absolute;
    right: 5%;
    top: 50%;
    transform:translate(0, -50%);
}
.show-cart-button{
    background-color: transparent;
    border: 0;
    cursor: pointer;
    position: relative;
}

.show-cart-button img{
    width:25px;
    height: 25px;
}

.cart-products-cont{
    position: absolute;
    color: white;
}

.cart-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}
.cart-title img{
    filter: brightness(0) saturate(100%) invert(0);
    margin-bottom: 5px;
}

.cart-modal-content .p-datatable-wrapper{
    overflow-x: hidden!important;
}

.products-cart-datatable .product-cart-img{
    width: 80px;
    height: 60px;
    object-fit: contain;
}

.products-cart-datatable .delete-product-from-cart-button{
    border: 0;
    background-color:transparent;
    cursor: pointer;
}

.cart-action-buttons{
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap:20px;
}
.cart-total{
    text-align: end;
    padding:10px;
}

.cart-action-buttons button{
    border: 1px solid black;
}
.cart-action-buttons button:first-child{
    background-color: rgb(162, 162, 162);
    border: 0;
    margin-right: auto;
}
.cart-action-buttons button:nth-child(2){
    background-color: white;
}
.cart-action-buttons button:last-child{
    background-color: rgb(84, 84, 84);
    color: white;
    border: 0;
}