@font-face {
  font-family: "Noto Sans";
  src: url("../../fonts/NotoSans.ttf") format("truetype");
}

.login-container {
  width: 100%;
  min-height: 100vh;
  font-family: Noto Sans;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0;
  padding: 5rem 0;
}

.login-section {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: rgba(1, 1, 1, 0.78);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px 0 black;
  color: white;
  padding: 1.5rem;
  border-radius: 7px;
}

.login-section i {
  font-size: 2rem;
  margin: 0.5rem;
}

.login-section p {
  font-size: 2rem;
  margin: 0.5rem;
  font-family: Noto Sans;
}

.login-container {
  background-image: url(../../assets/home-background.jpeg) !important;
}

form {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
}

form input {
  width: 100%;
  min-height: 2.31rem;
  border-radius: 7px;
  background-color: rgba(104, 102, 102, 0.16);
  border: 2px solid rgba(255, 255, 255, 0.021);
  color: white;
  padding-left: 10px;
}

form input::placeholder {
  color: white;
  font-size: 0.8rem;
}

form button {
  color: white;
  text-transform: uppercase;
  font-size: 0.8rem;
  width: 100%;
  min-height: 2.31rem;
  border-radius: 3px !important;
  background-color: rgba(0, 0, 0, 0.781);
  border: none !important;
  
  border-width: 1px !important;
  border-top-style: solid !important;
  border-bottom-style: solid !important;
  border-image: linear-gradient(to right,transparent, #cccccc4b , transparent ) 1 0.1 !important;

  
}
