

.magnament-oferts-container{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 2000px;
   

}
.magnament-oferts-container header{
    display: flex;
    width: 90%;
    max-width: 2000px;
    padding: 10px 0px;
    align-items: center;
    
}

.magnament-oferts-container header button:hover{
    background: #2e2e2e !important;
}
.magnament-oferts-container header i{
    color: white;
    
}
.magnament-oferts-container h1{
    margin-block: 0px;
    color: #464646;
    font-family: Noto Sans;
    font-size: 30px;
    font-style: normal;
    line-height: 137%; 
    font-variant: small-caps;
    letter-spacing: -0.8px;
    display: flex;
    margin-left: 8px;
  
}

.not-overfllow-x{
    overflow-x: hidden;
}

.responsive-oferts-1000px{
    max-width: 800px;
}

.responsive-oferts-800px{
    max-width: 600px;
}

.responsive-oferts-600px{
    max-width: 350px;
}


.name-template-container{
    display: flex;
    gap: 8px;
}