@font-face {
  font-family: "Noto Sans";
  src: url("../../assets/fonts/NotoSans-Regular.woff2");
}

.mcontact-container {
  width: 80%;
}

.ccontact-container {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 2rem;
  border-radius: 10px;
  border: 2px solid rgba(128, 128, 128, 0.315);
}

.head-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  gap: 1rem;
  padding: 5px;
}

.head-contact h2 {
  font-family: Noto Sans;
  font-variant: small-caps;
}
.head-btn-back {
  width: 50px;
  height: 30px;
  background-color: #545454;
  color: #fff !important;
  align-self: center;
  border: none;
}

.ccontact-container li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
}

.element-contact {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  color: rgb(87, 86, 86);
}

.element-contact i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.element-contact span {
  min-width: 71px;
}

.select-cont {
  width: 120px;
  min-height: 35px;
  background-color: rgba(128, 128, 128, 0.274);
  border-radius: 3px;
}

.table-agend .p-datatable-thead {
  background-color: black !important;
}

.table-column-header {
  background-color: #545454;
  color: #fff !important;
  text-align: center;
  font-family: Noto Sans;
  line-height: 137%;
  font-variant: small-caps;
  letter-spacing: -0.8px;
}

.p-datatable-header {
  font-family: Noto Sans;
  font-variant: small-caps;
  background-color: #fff;
}
.table-column-header svg {
  color: #fff !important;
}

.row-icon-table {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.table-agend .p-datatable-wrapper {
  max-height: 250px;
  min-height: 60vh !important;
}
.agend-container {
  padding-bottom: 2rem;
}
.agend-container h2 {
  text-align: left;
  font-family: Noto Sans;
  font-variant: small-caps;
  color: #545454;
}
.agend-container h2 i {
  font-size: 1.5rem;
  margin-right: 10px;
}

.agend-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  color: #545454!important;
  padding: 1rem;
  margin: 0;
}

.btn-pane {
  background-color: #545454;
  color: white;
  border: 2px solid #545454;
  font-family: Noto Sans;
  font-size: 0.8rem;
  align-self: center;
}
.save-btn-cont {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;
  padding-right: 0;
  gap: 5px;
}
.p-inputgroup-addon{
  background: #545454;
  border: 2px solid #545454;
}

.p-inputgroup-addon i{
  color: #fff;
}

.dialog-header{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.dialog-header h4{
  margin-top: 0;
  margin-bottom: 0;
}

.dialog-header i{
  align-self: center;
  margin-right: 1rem;
  font-size: 1.5rem !important;
}
.product-form-dialog-header{
  background-color:rgba(84, 84, 84, 1);
  color: #fff;
  height:20px;
  color: #FFF;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 15px */
  font-variant: small-caps;
}
.p-dialog-content{
  padding-top: 10px;
}