@font-face {
    font-family: "Noto Sans";
    src: url("../../fonts/NotoSans.ttf") format("truetype");
}

.products-managment-page{
    min-height: 100vh;
    background-color: #fff;
    position: relative;
}

.back-button-title-container{
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    gap:20px;
    align-items: center;
    padding: 10px;
}

.products-managment-go-back-button{
    width: 30px;
    height: 26px;
    background-color: rgba(84, 84, 84, 1);
    border-radius: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button-title-container h3{
    color: #464646;
    text-align: center;
    font-family: 'Noto Sans';
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 137%; /* 54.8px */
    font-variant: small-caps;
    letter-spacing: -0.8px;
    margin:0;
}
