.store-page{
    width:100vw;
    min-height: 100vh;
    background-color:rgb(249, 250, 252);
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 130px auto;
    grid-template-areas: 
        "aside search search search search"
        "aside content content content content";
        color: rgb(0, 0, 0);
}

.store-page aside{
    grid-area: aside;
}
.store-page search{
    grid-area: search;
}
.store-page main{
    grid-area: content;
}

@media (width < 800px) {
    .store-page{
        grid-template-areas: 
            "aside aside aside aside aside"
            "search search search search search"
            "content content content content content";
        grid-template-rows: repeat(3, auto);
    }
}
