


.info-dialog-promotion{
    width: 500px;
    height: 550px; 
}

.info-dialog-promotion .p-dialog-content{
 overflow: hidden;
 background-color: #FFFBFB;
 padding: 5px;
}

.info-dialog-promotion .p-dialog-header{
    padding:3px 8px;
    background-color: #545454;
    color: white;
    font-variant: small-caps;

}
.info-dialog-promotion .p-dialog-title{
    font-size: 0.8rem;
    font-family: Noto Sans;
}

.info-dialog-promotion .p-dialog-header-icon{
    background-color: transparent;
    border: none;
    outline: none !important;
    background-image: url("../../assets/close-icon.svg") ;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50px;
    font-size: x-small;
    color: white;
    line-height: 137%; /* 27.4px */
    font-variant: small-caps;
    letter-spacing: -0.8px;
}

.info-dialog-form-promotion{
    padding:15px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs-dialog-from-container{
    display: flex;
    gap: 8px;
}

.input-info-dialog{
    display: flex;
    align-items: center;
    justify-content: left;
    font-family: Noto Sans; 
}

.info-dialog-form-promotion input{
    width: 100%;
    height: 25px;
    background: transparent;
    outline: none;
    border: none;
    font-family: Noto Sans;
}

.input-dialog-container{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: left;
    border-radius: 5px;
    background: rgba(51, 50, 50, 0.16);  
    width: 150px !important;   
    transition: border 0.4s ease-in-out;
    border: 1px solid rgb(51, 50, 50, 0.08);
}

.input-info-dialogs-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-dialog-container:hover{
    border: 1px solid rgb(64, 159, 223);
}

.discount-input{
    width: 100px !important;
}
.textarea-description-promtion{
    height: 80px !important;
    max-height: 100px;
}

.input-dialog-container textarea{
    width: 100%;
    height: 80px;
    background: transparent;
    outline: none;
    border: none;
    font-family: Noto Sans;
    max-height: 80px;
    min-height: 80px;
    min-width: 135px;
    max-width: 135px;
}



.p-dialog-container{
    width: 100px !important;
}

.p-dialog-container p{
    margin-block: 0px;
    display: inline;
    font-size: 14px;
    font-variant: small-caps;
}



.button-promotion-container div{
    padding: 9px;
    border-top: 2px solid #545454;
    border-left: 2px solid #545454;
    cursor: default;
}

.buttons-user-info{
    color: aliceblue;
    border-radius: 6px;
    background: #545454;
    font-family: Noto Sans;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: small;
    line-height: 137%;
    font-variant: small-caps;
    letter-spacing: -0.5px;
    justify-content: center;
    gap: 5px;
    border-right:  1px solid rgb(63, 63, 63) !important;
    border-bottom:  1px solid rgb(44, 44, 44) !important;
    box-shadow: 2px 2px 3px 0px rgba(48, 48, 48, 0.7);
}

.oferts-info-intrinsic{
    width: 100%;
    height: 1px;
    border: 1px solid rgb(207, 207, 207)
}

.add-products-to-oferts-containers{
    padding: 4px;
    width: 455px;
    height: 250px;
    background: rgb(90, 87, 87,0.1);
    border-radius: 5px;
    margin: auto;
    display: flex;
    gap: 10px;
   
}

.add-products-to-oferts-buttons-container{
    width: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap:3px;
   
}

.add-products-to-oferts-buttons{
    width: 100%;
    height: 30px;
    background-color: #6e6e6e;
    border-radius: 5px;
    border: none;
 
}



.add-products-to-oferts-buttons:hover{
    background-color: #555555;
    cursor: pointer;
}


.button-promotion-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.p-products-text-oferts{
    margin-block: 0px;
    font-family: Noto Sans;
    font-variant: small-caps;
}

.with-img{
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: none;
    align-items: center;
    background: transparent !important;  
    
}

.img-dialog-container{
    display: flex;
    padding: none;
    background-image: 100%;
    height: 120px;
    align-items: center;
    justify-content: center;
}
.img-dialog-container span img{
    height: 120px;
    width: 150px;
    object-fit: cover;
}

.img-textfile-container{
    font-size: small;
    text-align: center;
    display: flex;
    width: 200px;
    height: 130px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(134, 134, 134, 0.6);
    border-radius: 6px;
}

.img-dialog-container img{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    
}

.image-file-icon{
    gap:5px
}

.image-file-icon-container{
    min-width: 35px;
    height: 35px;
    position: relative;
    cursor: pointer;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.20s ease-in-out;;
    border: 2px solid rgba(134, 134, 134, 0.6);
    box-shadow: 1px 1px 3px 0px rgba(134, 134, 134, 0.6);
}

.image-file-icon-container .pi-file-import{
    font-size: x-large;
    position: absolute;
    z-index: 0;
    color: rgb(136, 136, 136);
}

.image-file-icon-container::before{
    background-color: transparent;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    cursor: pointer;
}

.image-file-icon-container:hover{
    border: 2px solid rgba(1, 192, 250);
}   


.image-file-icon input{
    max-width: 35px;
    max-height: 35px;
    border: none;
    border-style: none;
    opacity: 0;
    height: 50px;
    display: inline-block;
    cursor: pointer;
    z-index: 1;
}



.buttons-user-info:hover{
    background: #353535;
}