.products-managment-list-table-container{
    width: 90%;
    margin: 0 auto;
    margin-top:20px;
}

.table-product-field-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
}

.products-managment-list-loader-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top:50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    z-index: 2;
    backdrop-filter: blur(1px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.products-managment-list-loader-container div{
    width: 30px;
    height: 30px;
}