.navbar{
    display: flex;
    height:50px;
    background-color: black;
    position: absolute;
    z-index: 10;
    width: 100%;
    
}

.nav-BarConteiner  {
    margin: 0px;
    display: flex;
    list-style: none;
    background-color: #000;
    height: 50px;
    align-items: center;
    gap: 30px;
}
.nav-BarConteiner-Responsive  {
    margin: 0px;
    display: flex;
    list-style: none;
    background-color: #000;
    height: 50px;
    align-items: center;
    gap: 5px;
}

.navBar-MenuButton{
    width: 30px;
    height: 30px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    background-color: transparent;
}

.navBar-MenuButton:hover{
    outline: 1px solid #ffffff;
}
a:hover{
    
    color: aliceblue !important;
}

li  {
    text-decoration: none;
    cursor:pointer;
 }
 

 
 .companyName{
     text-decoration: none;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: x-large;
     color: aliceblue;
     
 }

.companyName:hover{
    color: aliceblue;
}
 
  .navBar-itemConteiner {
    position:relative ;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 9px;
    border-radius: 3px;     
  }
 
  .navBar-itemConteiner:hover{
    background-color: rgb(31, 31, 31);
    
 }
 
  .navBar-item{
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     font-size: medium;
     color: aliceblue;
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: row;
     gap:10px;
  }

  .sideBar button{
      background-color: transparent;
      border: none;
      outline: none !important;
      background-image: url("./icon/closeIcon.png");
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 50px;
      
  }
  .sideBar button:hover{
      background-color: rgb(172, 172, 172,0.2);   
  }
