@font-face {
    font-family: "NotoSans";
    src: url("../../fonts/NotoSans.ttf") format("truetype");
  }

.ofertsConteiner{
    height: auto;
    margin-top: 0px;
    background-color: rgb(252, 251, 251);
    color:black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    gap: 50px;
    padding: 20px;
    padding-top: 2.5rem;
    position: relative;
}

.oferts{    
    width: 100%;
    max-width: 1200px;
    max-height: 245px;
    min-height: 222px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family:  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 50px; 
    flex-flow: wrap-reverse;
    flex-wrap: wrap;
    overflow: hidden;
}

.allOferts{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    font-family:  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    gap: 50px; 
    flex-flow: wrap-reverse;
    flex-wrap: wrap;
}

.dividerConteiner{
    width: 100%;
    max-width: 1200px;
    height: 20px;
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    font-family: NotoSans;
    
}
.dividerConteiner h3{
    font-size: 0.98rem;
}
.divider{
    display: flex;
    width: 100%;
    max-width: 900px;
    border-image: linear-gradient(to right,transparent, #000 , transparent ) 1 0.1;
    border-top: 1px solid black; 
}

.showAll-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position:absolute;
    right:20px;
    border-radius: 50%;
    width: 30px;
    top:210px;
    color: #9c9c9c;
    
    background-color: transparent;
    height: 30px;
    border: none !important;
    font-family:NotoSans;
    font-size: small;
    text-align: start;
    outline: none !important;
}
.button-active{
    top:101%;
}
.button-active2{
    top:100%;
}

.showAll-button:hover{
   color:rgb(2, 2, 2);
}

.loader-container{
    width:30px;
    height: 30px;
}

@media (width < 500px) {
    .allOferts{
        justify-content: center;
    }
}