
.ofertsConteiner{
    min-height: 100vh;
    background-color: rgb(252, 251, 251);
    color:black;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction:column;
    gap: 50px;
    padding: 30px 20px 20px 20px;
  
}

.oferts{    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-top: 1px solid transparent;
    border-image: linear-gradient(to right,transparent, #000 , transparent ) 1 0.1;
    font-family:  'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 40px 0px 0px 0px ;
}

.cardOferts-Conteiner{
    width: 100%;
    display: flex;
    gap: 50px; 
    flex-flow: wrap-reverse;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}